@model ATM.Models.Login

@{
    ViewBag.Title = "ورود به سیستم";
}
<div>
    @Html.ActionLink("• ورود به سیستم", "Login", "Auth", new object { }, new { @class = "title" })

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/Auth/Login" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "warning" })

        @Html.LabelFor(model => model.User)
        @Html.EditorFor(model => model.User)
        @Html.ValidationMessageFor(model => model.User, "", new { @class = "warning" })

        @Html.LabelFor(model => model.Pass)
        @Html.EditorFor(model => model.Pass)
        @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "warning" })

        <input type="submit" value="ورود" />
    }
</div>