@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - سامانه ی برنامه ریز آراد</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Summernote/summernote.css">
    <script type="text/javascript" src="~/Summernote/summernote.js"></script>
    <link href="~/flatpickr/flatpickr.css" rel="stylesheet" />
    <link href="~/flatpickr/material_red.css" rel="stylesheet" />
    <script src="~/flatpickr/flatpickr.js"></script>
    <link href="@("/Content/" + HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "/" + ViewContext.RouteData.Values["action"].ToString() + ".css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>

<body dir="rtl">
    <header>
        <div class="placeholder">
            <div class="name">@Html.ActionLink("سامانه ی برنامه ریز آراد", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
            <img class="logo" src="~/Logo.png" alt="پیشگامان اطلاعات آراد" />
            <nav>
                <ul>
                    <li>@Html.ActionLink("خانه", "Index", "Home")</li>
                    <li>@Html.ActionLink("درباره ی ما", "About", "Home")</li>
                    <li>@Html.ActionLink("ارتباط با ما", "Contact", "Home")</li>
                    <li>
                        <a href="#">منو 4</a>
                        <ul>
                            <li><a href="#">منو 4 - 1</a></li>
                            <li>
                                <a href="#">منو 4 - 2</a>
                                <ul>
                                    <li><a href="#">منو 4 - 2 - 1</a></li>
                                    <li><a href="#">منو 4 - 2 - 2</a></li>
                                    <li><a href="#">منو 4 - 2 - 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">منو 4 - 3</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            @if (TempData["Message"] != null)
            {
                <div class="message">@TempData["Message"]</div>
                TempData["Message"] = null;
            }
        </div>
    </header>

    <div class="placeholder" style="overflow-x:scroll;">
        <div id="app">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="placeholder">
            <div>۱۳۹۶ &copy; تمام حقوق محفوظ است</div>
            <div>پیشگامان اطلاعات آراد</div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/mine")
    <script type="text/javascript">
        $(function () {
            $('textarea').summernote({
                toolbar: [
                    ['view', ['fullscreen', 'codeview']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']]
                ]
            });
        });
        $(function () {
            $("[type=datetime]").flatpickr(
                {
                    enableTime: true
                }
            );
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>