@model ATM.Models.Document

@{
    ViewBag.Title = "حذف سند";
}
<div>
    <span class="title">حذف سند</span>

    @Html.DisplayNameFor(model => model.Person.Username)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Person.Username)
    </span>


    @Html.DisplayNameFor(model => model.Title)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Title)
    </span>

    @Html.DisplayNameFor(model => model.Submit)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Submit)
    </span>

    @Html.DisplayNameFor(model => model.Expire)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Expire)
    </span>

    @Html.DisplayNameFor(model => model.Body)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Body)
    </span>

    @Html.DisplayNameFor(model => model.Comment)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Comment)
    </span>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" />
    }
</div>
