@model ATM.Models.Document

@{
    ViewBag.Title = "مشاهده سند";
}
<div class="details">
    <span class="title">• مشاهده سند</span>

    <h1 class="simple-text">
        @Html.DisplayFor(model => model.Title)
    </h1>

    @Html.DisplayNameFor(model => model.Submit)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Submit)
    </span>

    @Html.DisplayNameFor(model => model.Expire)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Expire)
    </span>

    @Html.DisplayNameFor(model => model.Comment)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Comment)
    </span>

    @Html.DisplayNameFor(model => model.Body)
    <span class="simple-text">
        @Html.Raw(Model.Body)
    </span>

</div>
