@model IEnumerable<ATM.Models.Task>
@{
    ViewBag.Title = "فعالیت ها";
}

@Html.ActionLink("سند جدید", "Create")

@foreach (var item in Model)
{

    <div class="task">
        نام
        <span class="simple-text">
            @Html.DisplayFor(modelItem => item.Name)
        </span>
        
        زمان پایان
        <span class="simple-text">
            @Html.DisplayFor(modelItem => item.End)
        </span>

        @Html.ActionLink("مشاهده", "Details", new { id = item.Id })
        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
        @Html.ActionLink("حذف", "Delete", new { id = item.Id })
    </div>
}

