@model ATM.Models.Project

@{
    ViewBag.Title = "پروژه جدید";
}
<div class="create">
    <span class="title">• پروژه جدید</span>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "warning" })

        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "warning" })

        @Html.LabelFor(model => model.Start)
        @Html.EditorFor(model => model.Start)
        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "warning" })

        @Html.LabelFor(model => model.End)
        @Html.EditorFor(model => model.End)
        @Html.ValidationMessageFor(model => model.End, "", new { @class = "warning" })

        <input type="submit" value="بساز" />
    }
</div>

@section scripts{
    <script>
            $(function () {
                $("input[name='Start'], input[name='End']").flatpickr(
                    {
                        enableTime: true,
                        dateFormat: 'Ymd'
                    }
                );
            });
    </script>
}