@model ATM.Models.Project


@{
    ViewBag.Title = "حذف پروژه";
}

<div class="delete">
    <span class="title">• حذف پروژه</span>

    <span class="simple-text">
        @Html.DisplayFor(model => model.Title)
    </span>

    @Html.DisplayNameFor(model => model.Start)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Start)
    </span>

    @Html.DisplayNameFor(model => model.End)
    <span class="simple-text">
        @Html.DisplayFor(model => model.End)
    </span>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" />
    }
</div>
