@model ATM.Models.Project

@{
    ViewBag.Title = "مشاهده پروژه";
}
<div class="details">
    <span class="title">• مشاهده پروژه</span>

    <h1 class="simple-text">
        @Html.DisplayFor(model => model.Title)
    </h1>

    @Html.DisplayNameFor(model => model.Start)
    <span class="simple-text">
        @Html.DisplayFor(model => model.Start)
    </span>

    @Html.DisplayNameFor(model => model.End)
    <span class="simple-text">
        @Html.DisplayFor(model => model.End)
    </span>

</div>
